<div class="angular-editor-toolbar" *ngIf="showToolbar">
        <div class="angular-editor-toolbar-set">
                <button type="button" title="Undo" class="angular-editor-button" (click)="triggerCommand('undo')"
                        tabindex="-1"><i class='fa fa-undo'></i></button>
                <button type="button" title="Redo" class="angular-editor-button" (click)="triggerCommand('redo')"
                        tabindex="-1"><i class='fa fa-repeat'></i></button>
                <button [id]="'bold-'+id" type="button" title="Bold" class="angular-editor-button"
                        (click)="triggerCommand('bold')" [disabled]="htmlMode" tabindex="-1"><i
                                class='fa fa-bold'></i></button>
                <button [id]="'italic-'+id" type="button" title="Italic" class="angular-editor-button"
                        (click)="triggerCommand('italic')" [disabled]="htmlMode" tabindex="-1"><i
                                class='fa fa-italic'></i></button>
                <button [id]="'strikeThrough-'+id" type="button" title="Strikethrough" class="angular-editor-button"
                        (click)="triggerCommand('strikeThrough')" [disabled]="htmlMode" tabindex="-1"><i
                                class='fa fa-strikethrough'></i>
                </button>
                <button [id]="'insertUnorderedList-'+id" type="button" title="Unordered List"
                        class="angular-editor-button" (click)="triggerCommand('insertUnorderedList')"
                        [disabled]="htmlMode" tabindex="-1"><i class='fa fa-list-ul'></i></button>
                <button [id]="'insertOrderedList-'+id" type="button" title="Ordered List" class="angular-editor-button"
                        (click)="triggerCommand('insertOrderedList')" [disabled]="htmlMode" tabindex="-1"><i
                                class='fa fa-list-ol'></i></button>
                <button [id]="'link-'+id" type="button" class="angular-editor-button" (click)="insertUrl()"
                        title="Insert Link" [disabled]="htmlMode" tabindex="-1">
                        <i class="fa fa-link"></i>
                </button>
                <button type="button" class="angular-editor-button" (click)="triggerCommand('unlink')" title="Unlink"
                        [disabled]="htmlMode" tabindex="-1">
                        <i class="fa fa-chain-broken"></i>
                </button>
        </div>
</div>