$fa-font-path: "https://netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts" !default; // for referencing Bootstrap CDN font files directly
@import "~font-awesome/scss/font-awesome.scss";

a {
  cursor: pointer;
  text-decoration: underline;
}

#editor {
  min-height: 150px;
  overflow: auto;
  margin-top: 5px;
  resize: vertical;
  outline: none;
}

.angular-editor-toolbar {
  font: 100 14px/15px Roboto, Arial, sans-serif;
  background-color: #f5f5f5;
  font-size: 0.8rem;
  padding: 0.2rem;
  border: 1px solid #ddd;
  .angular-editor-toolbar-set {
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    margin-right: 5px;
    vertical-align: middle;
    border: 1px solid #ddd;
    margin-bottom: 3px;
    .angular-editor-button {
      background-color: transparent;
      padding: 0.4rem;
      min-width: 2.0rem;
      float: left;
      border: 0 solid #ddd;
      &:first-child {
        border-radius: 5px 0 0 5px;
      }
      &:last-child {
        border-radius: 0 5px 5px 0;
      }
      &:first-child:last-child {
        border-radius: 5px;
      }
      &:hover {
        cursor: pointer;
        background-color: #f1f1f1;
        transition: 0.2s ease;
      }
      &:focus,
      &.focus {
        outline: 0;
      }
      &:disabled {
        background-color: #f5f5f5;
        pointer-events: none;
        cursor: not-allowed;
        > .color-label {
          pointer-events: none;
          cursor: not-allowed;
          &.foreground {
            :after {
              background: #555555;
            }
          }
          &.background {
            background: #555555;
          }
        }
      }
      &.active {
        background: #fff5b9;
        &:hover {
          background-color: #fffa98;
        }
      }
    }
    select {
      font-size: 11px;
      width: 90px;
      vertical-align: middle;
      background-color: transparent;
      border: 0.5px solid rgba(255, 255, 255, 0);
      border-radius: 5px;
      outline: none;
      padding: 0.4rem;
      cursor: pointer;
    }
    .select-heading {
      width: 90px;
      @supports not( -moz-appearance:none ) {
        optgroup {
          font-size: 12px;
          background-color: #f4f4f4;
          padding: 5px;
        }
        option {
          border: 1px solid;
          background-color: white;
        }
        .default {
          font-size: 16px;
        }
        .h1 {
          font-size: 24px;
        }
        .h2 {
          font-size: 20px;
        }
        .h3 {
          font-size: 16px;
        }
        .h4 {
          font-size: 15px;
        }
        .h5 {
          font-size: 14px;
        }
        .h6 {
          font-size: 13px;
        }
        .div {
          font-size: 12px;
        }
        .pre {
          font-size: 12px;
        }
      }
      &:disabled {
        background-color: #f5f5f5;
        pointer-events: none;
        cursor: not-allowed;
      }
      &:hover {
        cursor: pointer;
        background-color: #f1f1f1;
        transition: 0.2s ease;
      }
    }
    .select-font {
      width: 90px;
      @supports not( -moz-appearance:none ) {
        optgroup {
          font-size: 12px;
          background-color: #f4f4f4;
          padding: 5px;
        }
        option {
          border: 1px solid;
          background-color: white;
        }
      }
      &:disabled {
        background-color: #f5f5f5;
        pointer-events: none;
        cursor: not-allowed;
      }
      &:hover {
        cursor: pointer;
        background-color: #f1f1f1;
        transition: 0.2s ease;
      }
    }
    .select-font-size {
      width: 50px;
      @supports not( -moz-appearance:none ) {
        optgroup {
          font-size: 12px;
          background-color: #f4f4f4;
          padding: 5px;
        }
        option {
          border: 1px solid;
          background-color: white;
        }
        .size1 {
          font-size: 10px;
        }
        .size2 {
          font-size: 12px;
        }
        .size3 {
          font-size: 14px;
        }
        .size4 {
          font-size: 16px;
        }
        .size5 {
          font-size: 18px;
        }
        .size6 {
          font-size: 20px;
        }
        .size7 {
          font-size: 24px;
        }
      }
      &:disabled {
        background-color: #f5f5f5;
        pointer-events: none;
        cursor: not-allowed;
      }
      &:hover {
        cursor: pointer;
        background-color: #f1f1f1;
        transition: 0.2s ease;
      }
    }
    .color-label {
      position: relative;
      cursor: pointer;
    }
    .background {
      font-size: smaller;
      background: #1b1b1b;
      color: white;
      padding: 3px;
    }
    .foreground {
      :after {
        position: absolute;
        content: "";
        left: -1px;
        top: auto;
        bottom: -3px;
        right: auto;
        width: 15px;
        height: 2px;
        z-index: 0;
        background: #1b1b1b;
      }
    }
  }
}
